bin/
obj/
*.user
*.suo
*.csproj.nuget.*
project.assets.json
project.nuget.cache


npm-debug.log*
yarn-error.log*
/logs

.vscode/
.idea/

**/bin/
**/obj/
**/*.cache

*.nupkg
*.npm

TestResults/
coverage/

.vs/
